[submodule "rdf-public-contracts"]
	path = rdf-public-contracts
	url = https://github.com/giuseppefutia/rdf-public-contracts.git
[submodule "vis-public-contracts"]
	path = vis-public-contracts
	url = https://github.com/giuseppefutia/vis-public-contracts.git
